[submodule "lib/com_client"]
	path = lib/com_client
	url = git@github.com:Aightech/com_client
	branch = main
[submodule "lib/joystick"]
	path = lib/joystick
	url = git@github.com:Aightech/joystick
	branch = main
[submodule "lib/built_lsl"]
	path = lib/built_lsl
	url = git@github.com:Aightech/built_lsl
	branch=main
